.container {
  width: 95%;
  max-width: 300px;
  border: 2px solid black;
  border-radius: 10px;
  border-left: 5px solid #f5ba13;
  padding: 0px 5px;
  margin: 10px auto;
}

.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.details p {
  width: 100%;
  word-wrap: break-word;
  word-break: break-word;
  text-align: left;
}

.pending {
  border-left: 5px solid #f5ba13;
  border-right: 5px solid #f5ba13;
}

.in_progress {
  border-left: 5px solid #1100ff;
  border-right: 5px solid #1100ff;
}

.completed {
  border-left: 5px solid #00b300;
  border-right: 5px solid #00b300;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
  padding: 10px 2px;
}

.task {
  font-size: 17px;
  font-weight: 500;
}

.icon {
  cursor: pointer;
  font-size: 20px;
}

.delete {
  color: red;
}

.edit {
  color: rgb(65, 65, 173);
}

.hr {
  width: 2px;
  border: none;
  background-color: black;
}

dialog::backdrop {
  background-color: rgba(33, 62, 56, 0.5);
}

dialog {
  width: 100%;
  max-width: 300px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: none;
  border-radius: 5px;
  text-align: center;
}

/* dialog p {
  margin: 0 auto;
} */
