.nav {
  width: 100vw;
  height: 80px;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  margin: 5px auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  background-color: white;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.logo {
  width: 150px;
  height: 50px;
}
