body {
  font-size: 16px;
  margin: 0;
  padding: 0 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
}

html {
  font-size: 62.5%;
}

*::before,
*::after,
* {
  box-sizing: border-box;
}

.btn {
  scale: 1;
  cursor: pointer;
}

.btn:hover {
  scale: 1.1;
}

.btn-disabled {
  opacity: 0.5;
}

input {
  width: 100%;
  height: 50px;
  padding: 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus {
  outline: 2px solid black;
}

.themes_selector {
  width: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.bodyContainer {
  width: 100vw;
  height: 100vh;
}

.themes_selector span {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  scale: 1;
}

.themes_selector .active {
  scale: 1.5;
}

.light {
  background-image: linear-gradient(90deg, #cfcfcf, #fbfbfb);
}

.medium {
  background-image: linear-gradient(90deg, #f5f5f5, #f0edff);
}

.dark {
  background-image: #15202b;
  transition: all 0.5s;
}

.gOne {
  background-image: linear-gradient(90deg, #4dc9e6, #210cac);
}

.gTwo {
  background-image: linear-gradient(235deg, #fff, #000f25),
    linear-gradient(180deg, #6100ff, #000),
    linear-gradient(
      235deg,
      #ffa3ac,
      #ffa3ac 40%,
      #00043c calc(40% + 1px),
      #00043c 60%,
      #005d6c calc(60% + 1px),
      #005d6c 70%,
      #00c9b1 calc(70% + 1px),
      #00c9b1
    ),
    linear-gradient(
      125deg,
      #ffa3ac,
      #ffa3ac 40%,
      #00043c calc(40% + 1px),
      #00043c 60%,
      #005d6c calc(60% + 1px),
      #005d6c 70%,
      #00c9b1 calc(70% + 1px),
      #00c9b1
    );
  background-blend-mode: soft-light, screen, darken, normal;
}

.gThree {
  background-image: linear-gradient(125deg, #fff, #000),
    linear-gradient(
      200deg,
      #ffd9e8,
      #ffd9e8 50%,
      #de95ba calc(50% + 1px),
      #de95ba 60%,
      #7f4a88 calc(60% + 1px),
      #7f4a88 75%,
      #4a266a calc(75% + 1px),
      #4a266a
    ),
    linear-gradient(
      113deg,
      #ffd9e8,
      #ffd9e8 40%,
      #de95ba calc(40% + 1px),
      #de95ba 50%,
      #7f4a88 calc(50% + 1px),
      #7f4a88 70%,
      #4a266a calc(70% + 1px),
      #4a266a
    );
  background-blend-mode: overlay, overlay, normal;
}
